footer{
    padding-top: 20px;
}

.footer-links {
    list-style: none;
    margin: 0.75em 0;
    padding: 0 1em;
}

.footer-links li:before {
    content: "";
    border-color: transparent #75ab3f;
    border-style: solid;
    border-width: 0.35em 0.35em 0.45em 0;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}

.footer-links li {
    display: block;
    width: 50%;
    float: right;
    text-align: right;
}

.footer-links li a {
    margin-right: 30px;
    color: #8e8d8d;
}

.social-area-title {
    font-size: 19px;
    font-family: tahoma;
}

.social-area {
    margin-top: 50px;
    text-align: right;
    color: #8e8d8d;
    font-weight: bold;
}

.social-area-pages {
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    float: right;
}

.social-area-pages li {
    float: right;
    display: inline;
}

.social-area-pages li a {
    background: #e1e1e1;
    border-radius: 4px;
    margin: 5px;
}

.social-area-pages li a {
    background: #e1e1e1;
    border-radius: 4px;
    width:30px;
    display: block;
    text-align: center;
    box-shadow: 1px 0px 1px #ccc;
}

.color-facebook{
    color: #2b4a8b
}

.color-youtube{
    color: #d5201c
}

.color-twitter{
    color: #1f94d9
}

.color-google{
    color: #d83936
}

.color-instagram{
    color: #1e6292
}
.color-pinterest{
    color: #c92228
}

.right-left-border{
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
.copyrights{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    color: #9f9f9f;
    border-top: 1px solid #d9d9d9;
    padding: 7px 0;
}
