@font-face {
    font-family: DiodrumArabic;
    src: url("../fonts/Diodrum-Arabic-Medium.ttf");
}

* {
    font-family: DiodrumArabic;
    font-size: 14px;
}

a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    color: #8cad10;
}

.color-white {
    color: #ffffff;
}

.sec-navbar {
    margin-left: 10px !important;
}

.dropdown-menu{
    width: 180px;
}


#categories .slide-details img {
    width: 80px !important;
}

#categories .brands-list img {
    width: 52px !important;
}

#categories .lifestyle-area img {
    width: 130px !important;
}

#cats-page {
    padding-bottom: 50px;
}
