* {
  outline: none !important;
}
html,
body {
    height: 100%;
}
body {
  position: relative;
  padding-top: 50px !important;
  
}

.h-100vh {
  height: calc(100vh - 50px) !important;
}

.h-auto {
  height: auto !important;
}

.fp-tooltip {
  color: #000 !important;
}

.date-icon {
  width: 15px !important;
}

.map-icon {
  width: 8px !important;
}

.auto-icon {
  width: 12px !important;
}

.dashboard-icon {
  width: 15px !important;
}

.follow-up {
  height: 30px !important;
  line-height: 0 !important;
  padding: 0px 8px !important;
  margin: 0px 15px;
  .icon {
    position: relative;
    top: 3px;
  }
}
.w-20{
  width: 20% !important;
}
.w-60{
  width: 60% !important;
}
.w-18{
  width: 18% !important;
}
.border-left {
  border-left: 1px solid darkgray !important;
}

/*Navbar Style*/

$primary-color: #8cad10;
$auto-barter-color: #19a0e0;
$aqura-barter-color: #ff6633;
$style-barter-color: #ec1b4b;
$food-barter-color: #a8216b;
$blog-barter-color: #f4c20d;
$artical-barter-color: #8cad10;
.text-auto-barter {
  color: $auto-barter-color !important;
}

.green-btn {
  background: $primary-color;
  color: white;
  width: 102px;
  height: 38px;
  border-radius: 0px !important;
  font-weight: 600;
}

.text-green {
  color: $primary-color;
}

.control {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #ffffff;
  border: 2px solid #9b9b9b;
  border-radius: 2px
}

.control--radio .control__indicator {
  border-radius: 50%
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ffffff
}

.control input:checked~.control__indicator {
  background: #8cad10;
  border-color: #8cad10
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #8cad10
}

.control input:disabled~.control__indicator {
  background: #ffffff;
  opacity: 0.6;
  pointer-events: none
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none
}

.control input:checked~.control__indicator:after {
  display: block
}

.control--checkbox .control__indicator:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg)
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #9b9b9b
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff
}

.control--radio input:disabled~.control__indicator:after {
  background: #9b9b9b
}

.custom-input {
  position: relative
}

.custom-input input {
  padding-left: 40px
}

.custom-input.user-icon::after {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute
}

.custom-input.email-icon::after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute
}

.custom-input.pass-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f084";
  font-size: 16px;
  color: #8cad10;
  padding-left: 18px;
  top: 9px;
  position: absolute;
  -webkit-transform: rotate(-42deg);
  transform: rotate(0deg)
}

input.form-control {
  border-radius: 0px !important;
  height: 38px !important;
}

.custom-border::after {
  content: '';
  border-width: 1px;
  border-color: rgb(187, 186, 186);
  border-style: solid;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 5px;
}

.dropdown-menu::before,
.typeahead.dropdown-menu::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background: #fff;
  top: -5px;
  left: 10px !important;
  right: 0 !important;
  border-radius: 2px;
  transform: rotate(45deg);
}

.dropdown-menu {
  top: 108%;
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.custom-scrolltop {
  font-size: 22px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #8cad10;
  color: #ebede8;
  width: 40px;
  height: 40px;
  text-align: center;
}

.search-icon {
  color: #ffffff !important;
  width: 56px;
  height: 38px;
  display: inline-block;
  text-align: center;
  position: relative;
  img {
    position: absolute;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 15px;
  }
}

#videos,
#auto-barter,
#aqura-barter,
#style-barter,
#food-barter,
#blog-barter,
#artical-barter,
#search {
  position: relative;
  height: calc(100vh - 50px);
}

.card {
  border-radius: 4px;
  border: 1px solid rgb(225, 225, 225);
  box-shadow: 0px 1px 0.94px 0.06px rgba(0, 0, 0, 0.1), 0px 0px 0.98px 0.02px rgba(0, 0, 0, 0.16);
  position: relative;
}

.card.adblock {
  height: 286px;
}

.scroll-section {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 185px;
  height: 40px;
  text-align: center;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.scroll-section:hover {
  color: #ffffff;
  text-decoration: none;
}

.scroll-section img {
  vertical-align: baseline;
}

.navbar-dark {
  min-height: 50px;
  .dropdown-toggle::after {
    content: none !important;
  }
  .nav-link {
    color: #ffffff !important;
  }
  .nav-link::after {
    width: 1px;
    height: 27px;
    background-color: rgb(104, 104, 107);
  }
  .put-tisement {
    padding: .8rem 1rem !important;
    background-color: $primary-color;
  }
  .sec-navbar {
    .nav-link:not(.put-tisement) {
      line-height: 30px;
    }
  }
}

#search {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-size: cover;
  .logo-search img {
    margin: 0px auto;
    display: block;
    padding: 40px 0px 30px 0px;
    width: 190px;
  }
  .search {
    position: relative;
    margin: 0 auto;
  }
  .form-control {
    font-size: 14px;
  }
  .form-control:focus {
    box-shadow: none !important;
  }
  .typeahead.dropdown-menu {
    top: 43px !important;
  }
}

#videos {
  border-bottom: 7px solid $auto-barter-color;
  background-color: #f5f5f5;
  .scroll-section {
    background-color: $auto-barter-color;
  }
  .nav-item {
    margin: 0px 15px;
    width: 200px;
    height: 47px;
}
  .nav-link.active {
    text-align: center;
    background-color: $primary-color;
    color: #ffffff;
  }
  .nav-link {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a8c988;
    color: #000000;
    line-height: 22px;
  }
  .owl-carousel {
    .item {
      img {
        height: calc(100vh - 338px) !important;
        border-radius: 4px;
      }
    }
  }
}

#auto-barter {
  border-bottom: 7px solid $aqura-barter-color;
  .scroll-section {
    background-color: $aqura-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .search-icon {
    background-color: $auto-barter-color;
  }
  h6 {
    padding: 0px 40px;
  }
  .owl-carousel {
    .item .card {
      height: calc((100vh - 315px) / 2) !important;
      border-radius: 4px;
    }
    img {
      height: 120px !important;
    }
    .card-img-header {
      position: relative;
      .favourite {
        position: absolute;
        font-size: 14px;
        margin: 5px;
        background: #ffffff87;
        width: 21px;
        height: 21px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .car-info {
      font-weight: 600;
    }
    .price {
      background-color: rgb(78, 82, 82);
      position: absolute;
      width: 100px;
      height: 38px;
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      bottom: 0px;
      font-size: 13px;
    }
    .owl-next,
    .owl-prev {
      top: -114px !important;
    }
  }


  .item .card {
    font-size: 14px;
  }
}

#aqura-barter {
  .aquar-type-img {
    height: 156px !important;
  }
  h6 {
    padding: 0px 40px;
  }
  .card img {
    width: 100%;
  }
  border-bottom: 7px solid $style-barter-color;
  .scroll-section {
    background-color: $style-barter-color;
  }
  .search-icon {
    background-color: $aqura-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .owl-carousel {
    .item .card {
      height: calc((100vh - 333px) / 2) !important;
      border-radius: 4px;
    }
    img {
      height: 120px !important;
    }
    .card-img-header {
      position: relative;
      .favourite {
        position: absolute;
        font-size: 14px;
        margin: 5px;
        background: #ffffff87;
        width: 21px;
        height: 21px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .car-info {
      font-weight: 600;
    }
    .price {
      background-color: rgb(78, 82, 82);
      position: absolute;
      width: 100px;
      height: 38px;
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      bottom: 0px;
      font-size: 13px;
    }
    .owl-next,
    .owl-prev {
      top: -114px !important;
    }
  }
}

#style-barter {
  // background-image: url(../img/stylebarter.png);
  // background-size: cover;
  border-bottom: 7px solid $food-barter-color;
  .card {
    height: calc(100vh - 338px);
    overflow: hidden;
  }
  .card img {
    border-radius: 4px;
    height: 100%;
  }
  .card .card-img-top {
    border-radius: 0px !important;
    height: 135px;
  }
  .owl-carousel .card {
    height: calc(100vh - 410px);
  }
  .scroll-section {
    background-color: $food-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
    background: transparent;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
    color: black;
  }
  .search-icon {
    background-color: $style-barter-color;
  }
  .owl-dots {
    display: block !important;
  }
  .owl-prev,
  .owl-next {
    display: none !important;
  }
  .shope-here {
    a {
      color: $style-barter-color;
      border: 1px solid $style-barter-color;
      color: #ec1b4b;
      width: 200px;
      height: 40px;
      border-radius: 4px;
      text-decoration: none;
      display: inline-block;
      line-height: 32px;
      font-weight: 600
    }
  }
  .card {
    h6 {
      font-size: 16px !important;
      margin-bottom: 5px !important;
    }
    .card-img-top img {
      height: 130px !important;
    }
    p {
      font-size: 13px
    }
  }
}

#food-barter {
  background-image: url(../img/foodbarter.png);
  background-size: cover;
  border-bottom: 7px solid $blog-barter-color;
  .resturant-info {
    .resturant-logo {
      border-radius: 4px;
      background: #fff;
      border: 1px solid rgb(187, 186, 186);
      width: 72px;
      height: 72px;
      float: right;
      margin: 0 12px;
      img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-size: 13px;
      color: rgb(86, 85, 85);
      line-height: 1.2;
    }
  }
  .restaurants-box {
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 75%;
    li {
      display: inline-block;
      img {
        width: 75px;
        height: 75px;
      }
      margin: 0px 10px;
    }
  }
  .scroll-section {
    background-color: $blog-barter-color;
  }
  select {
    width: 180px;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(139, 139, 139) !important;
    background: transparent;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
  }
  .search-icon {
    background-color: $food-barter-color;
  }
  .restaurant-row {
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
  }
  .restaurant-row-image {
    float: right;
    width: 25%;
  }
  .restaurant-row-image img {
    max-width: 95%;
  }
  .restaurant-row-title {
    float: left;
    width: 75%;
  }
  .restaurant-row-title a {
    color: #000;
    display: block;
  }
  .more-restaurants {
    float: left;
    color: $food-barter-color;
    font-weight: bold;
  }
  .restaurant-sidebar {
    padding: 5px;
  }
}

#blog-barter {
  overflow: hidden;
  .card {
    h6 {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .card-img-top {
      height: 160px !important;
    }
  }
  .ads-card img {
    width: 100%;
  }
  .filter {
    position: relative;
    .custom-select-input {
      display: inline-block;
      width: 28.8%;
    }
    .search-icon {
      background-color: $blog-barter-color;
      position: absolute;
    }
  }
  .pattern-blog {
    background-image: url(../img/pattern1.png);
  }
  .mobs-block {
    float: left;
    margin-left: 40px;
  }
  .jobs-block {
    float: right;
    margin-right: 40px;
  }
  .mobs-block>.card,
  .jobs-block>.card {
    box-shadow: none;
    border: none;
    background: transparent;
    padding: 8px;
  }
  .mobawaba-area {
    background-image: url("../img/mobiles.png");
  }
  .mobiles {
    height: calc(100vh - 136px);
    background-size: cover;
  }
  .jobs {
    height: calc(100vh - 127px);
    background-size: cover;
  }
  select {
    width: 100% !important;
    background: transparent;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #444 !important;
    background: transparent;
  }
  .select2-container--default .select2-container--focus {
    outline: none !important;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    font-weight: 600;
  }
  .select2-selection__rendered {
    font-size: 14px;
    color: black;
  }
  border-bottom: 7px solid $artical-barter-color;
  .scroll-section {
    background-color: $artical-barter-color;
    img {
      position: relative;
      top: -4px;
    }
  }
  .owl-dots {
    display: block !important;
  }
  .owl-prev,
  .owl-next {
    display: none !important;
  }
  .card-img-header {
    position: relative;
    .favourite {
      position: absolute;
      font-size: 14px;
      margin: 5px;
      background: #ffffff87;
      width: 21px;
      height: 21px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .price {
    background-color: rgb(78, 82, 82);
    position: absolute;
    width: 100px;
    height: 38px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    bottom: 0px;
    font-size: 13px;
  }
  .date,
  .location {
    font-size: 14px;
    .fa-calendar,
    .fa-map-marker-alt {
      color: rgb(160, 160, 160);
    }
    span {
      color: rgb(116, 116, 117);
    }
  }
}

#artical-barter {
  background: #f5f5f5;
  .nav-item {
    margin: 0px 15px;
  }
  .nav-link.active {
    text-align: center;
    background-color: $primary-color;
    color: #ffffff;
  }
  .nav-link {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a8c988;
    color: #000000;
    line-height: 22px;
  }
  .owl-carousel .owl-item .card {
    height: calc(100vh - 338px) !important;
    img {
      height: 180px;
    }
    h6 {
      font-size: 14px;
      white-space: nowrap;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px 0;
    }
    .desc {
      height: 60px;
      line-height: 20px;
      overflow: hidden;
      margin: 10px 0 20px 0;
    }
    p {
      font-size: 12px;
    }
    .date {
      font-size: 12px;
      .fa-calendar {
        color: rgb(160, 160, 160);
      }
      span {
        color: rgb(116, 116, 117);
      }
    }
    .read-more {
      font-size: 14px;
      text-decoration: none;
    }
  }
}

// cats page
#cats-page {
  #artical-barter {
    .owl-carousel .owl-item .card {
      height: 360px !important;
    }
  }
  #videos {
    .owl-carousel .owl-item .card {
      height: 320px !important;
      img {
        height: 100% !important;
      }
    }
  }
}

.auto-barter-search, {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px;
  .custom-select-2 {
    width: 46%;
  }
  .select2-container {
    width: 100% !important;
    border: none !important;
    position: relative;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    height: 34px !important;
    border-radius: 0px !important;
  }
  .select2-selection--single .select2-selection__arrow {
    top: 4px;
  }
  .title {
    padding: 15px;
    background: $auto-barter-color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .filter {
    padding: 15px;
    background: $auto-barter-color;
  }
  .search-btn {
    padding: 0px 15px;
    background: black;
    color: white;
    text-decoration: none;
    line-height: 28px;
  }
  .quick-search {
    margin: 0px auto;
    .col {
      background: rgba(0, 0, 0, 0.5);
    }
    a {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      padding: 10px 0px;
      display: inline-block;
      width: 100%;
    }
    a:hover,
    .active.item {
      background: rgba(25, 160, 224, 0.74) !important;
    }
    a:hover {
      text-decoration: none !important;
    }
    .w-20 {
      width: 20%;
    }
  }
}

#cars {
  .ads img {
    position: static !important;
    height: 50px !important;
    width: 60%;
  }
}

.new-car,
.old-car {
  .card-img-header {
    position: relative;
    .favourite {
      position: absolute;
      font-size: 14px;
      margin: 5px;
      background: #ffffff87;
      width: 21px;
      height: 21px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .price {
    background-color: rgb(78, 82, 82);
    position: absolute;
    height: 38px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    bottom: 0px;
    font-size: 13px;
  }
  .card-body {
    img {
      display: inline-block;
    }
    span,
    bdi,
      {
      color: #747475;
      font-size: 14px;
    }
    .car-info div {
      font-size: 14px;
    }
  }
}

.new-car {
  .price {
    width: 100px;
  }
  .card-footer {
    padding: 8px 15px;
    font-size: 14px;
    img {
      width: 15px;
      display: inline-block;
      vertical-align: baseline;
    }
  }
  .owl-next,
  .owl-prev {
    top: -163px !important;
  }
}

.old-car {
  .price {
    width: 100%;
  }
  .car-info {
    .img-logo {
      width: 28px;
      height: 28px;
    }
  }
  .owl-next,
  .owl-prev {
    top: -135px !important;
  }
}

.side-bar-filter {
  .card-body{
    padding: 10px 15px !important;
  }
  h5 {
    background: #3296c5;
    color: white;
    padding: 5px 15px 11px;
    border-radius: 4px;
  }
  .car-icon {
    position: relative;
    top: 3px;
    margin-left: 5px
  }
  a.collapsed-btn{
    color: #000 !important;
    font-size: 15px;
    font-weight: 500;
  }
  a.collapsed-btn:hover{
    color: #000 !important;
    text-decoration: none !important;
  }
  .icons{
    font-size: 18px !important;
  }
  .collapse ul li {
    font-size:14px;
    font-weight:500;
    margin-bottom:8px;
    .angle-left-icon{
      position: relative;
      top:2px;
    }
  }
  .filter-type{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }
  .filter-type:last-child {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
  }
  a[aria-expanded=true] .fa-plus-square {
    display: none;
  }
  a[aria-expanded=false] .fa-minus-square {
    display: none;
  }
  .ad_one img,
  .ad_two img  {
    width: 100%;
  }
  .ad_one img{
    height: 200px;
  }
  .ad_two img {
    height: 300px;
  }
}
.brand-box{
  .brand-img{
    display: block !important;
    margin: auto;
    width: 60px;
    height: 60px;
  }
  .brand-name,
  .count{
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
}
.car-model-box {
  .card-body{
    padding: 0px;
  }
.car-img{
  width: 100%;
  height: 130px

}
.car-model,
.make-year{
  color: black;
}
.car-model{
  font-weight: bold;
}
.make-year{
  font-weight: 500;
}
}
.cats-filter{
.img-logo{
  span{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin: 0px 10px;
  }
  img{
    width: 54px;
    height: 54px;
    margin-bottom: 10px;
  }
} 
.car-name{
  h6{
    font-size: 14px !important;
  }
}
.card-body span,
.card-body bdi{
  font-size: 12px !important;
}
.breadcrumb li{
  font-size: 14px !important;
  font-weight: 500;
}
.breadcrumb li a, 
.breadcrumb li.active {
  font-size: 14px;
  color: #404041;
}
.latest-sec .ad img{
width: 100%;
height: 245px;
}
}


#login-page,
#register-page {
  .card {
    background: #fbfbfb;
  }
  .login-bg {
    background: url(../img/login-bg.jpg) 50% 50% no-repeat #7f7a7a;
  }
  .avater-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  form label {
    font-size: 16px;
    color: #6b7b8a;
    line-height: 1.2;
    font-weight: bold;
  }
  form .form-control {
    font-size: 14px;
    color: #868686;
  }
  span {
    font-size: 14px;
  }
  .login {
    background: #8cad10;
    font-weight: 600;
    color: #ffffff;
  }
  .forget-pass a {
    margin: 0px auto;
    font-size: 15px;
    color: #a10f0f;
    font-weight: bold;
    border-bottom: 1px solid #a10f0f;
    line-height: 1.2;
  }
  .twitter {
    background: #8fd8f6;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    color: white;
    position: relative;
  }
  .twitter-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    background: #7dd0f1;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
  }
  .facebook {
    background: #3c5a98;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    color: white;
    position: relative;
  }
  .facebook-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    background: #324e89;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
  }
  h6 {
    color: #868686 !important;
    font-size: 15px;
  }
  .form-control:focus {
    background-color: #fff;
    border-color: #8cad10;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(140, 173, 16, 0.38)
  }
}

// search result page
#search-result-page {
  .search-for {
    position: relative;
  }
  .search-for::before {
    content: '';
    width: 1px;
    height: 26px;
    background: #bbbaba;
    position: absolute;
    z-index: 99999999;
    left: 0px;
    top: 5px;
  }
  .quike-search {
    padding: 8px 15px;
    border: 1px solid #bbbaba;
    .custom-select-2 {
      width: 39%;
      display: inline-block;
    }
    .select2-container {
      width: 100% !important;
      position: relative;
    }
    .select2-container--default .select2-selection--single {
      height: 34px !important;
      border-radius: 0px !important;
    }
    .select2-selection--single .select2-selection__arrow {
      top: 4px;
    }
    .table-style {
      color: #777777;
      position: relative;
      top: 3px;
      font-size: 20px;
      padding-left: 15px;
      cursor: pointer;
    }
    .list-style {
      color: #b6b6bb;
      position: relative;
      top: 2px;
      font-size: 20px;
      cursor: pointer;
    }
    .show {
      font-size: 14px;
      font-weight: bold;
      padding: 0px 15px;
    }
  }
  .ads-search {
    img {
      height: 75px;
      width: 95%;
    }
  }
}

.search-result-search {
  background-image: url(../img/bg-search.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 60px 0px;
  .custom-select-2.search-for {
    width: 60%;
    .select2-selection__arrow {
      display: none;
    }
  }
  .custom-select-2 .select2-selection__rendered {
    padding-right: 20px !important;
  }
  .custom-select-2 {
    width: 40%;
  }
  .select2-container {
    width: 100% !important;
    border: none !important;
    position: relative;
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    height: 34px !important;
    border-radius: 0px !important;
  }
  .select2-selection--single .select2-selection__arrow {
    top: 4px;
  }
  .title {
    padding: 15px;
    background: rgba(158, 158, 158, 0.21);
    ;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .filter {
    padding: 15px;
    background: rgba(158, 158, 158, 0.21);
  }
  .search-btn {
    padding: 0px 15px;
    background: black;
    color: white;
    text-decoration: none;
    line-height: 28px;
  }
  .quick-search {
    background: rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    a {
      font-size: 14px;
      color: #fff !important;
      font-weight: 500;
      padding: 10px 0px;
      display: inline-block;
    }
    a:hover {
      text-decoration: none !important;
    }
    .w-20 {
      width: 20%;
    }
  }
}

.search-result {
  .card-img-header {
    position: relative;
    .favourite {
      position: absolute;
      font-size: 14px;
      margin: 5px;
      background: #ffffff87;
      width: 21px;
      height: 21px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .price {
    background-color: rgb(78, 82, 82);
    position: absolute;
    height: 38px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    bottom: 0px;
    font-size: 13px;
  }
  .card-body {
    img {
      display: inline-block;
    }
    span,
    bdi,
      {
      color: #747475;
      font-size: 14px;
    }
    .car-info div {
      font-size: 14px;
    }
  }
  .page-link,
  .disabled .page-link {
    border-radius: 4px !important;
    margin: 0px 5px;
    background-color: #f5f5f5;
    color: #000000;
    font-weight: 600;
  }
  .page-link:last-child {
    margin-left: 0px !important;
  }
  .count-ads {
    top: -6px;
    right: 5px;
  }
}

.search-result {
  .price {
    width: 100%;
  }
  .card-footer {
    padding: 8px 15px;
    font-size: 14px;
    img {
      width: 15px;
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.old-car {
  .price {
    width: 100%;
  }
  .car-info {
    .img-logo {
      width: 28px;
      height: 28px;
    }
  }
  .owl-next,
  .owl-prev {
    top: -135px !important;
  }
}

#food-page{
  .food-barter-search{
    background-image: url(../img/food-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 40px;
    .title {
      padding: 15px;
      background: rgba(189, 39, 56, 0.87);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      color:#fff
    }
    .filter {
      padding: 15px;
      background: rgba(189, 39, 56, 0.87);
    }
    .breadcrumb,
    .breadcrumb-item + .breadcrumb-item::before,
    .breadcrumb li a, .breadcrumb li.active{
      color: #fff;
      font-size: 18px;
    }
    .search-btn {
      padding: 0px 15px;
      background: black;
      color: white;
      text-decoration: none;
      line-height: 28px;
    }
    .quick-search {
      margin: 0px auto;
      .col {
        background: rgba(0, 0, 0, 0.5);
      }
      a {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        padding: 10px 0px;
        display: inline-block;
        width: 100%;
      }
      a:hover,
      .active.item {
        background: rgba(189, 39, 56, 0.87) !important;
      }
      a:hover {
        text-decoration: none !important;
      }
      .w-20 {
        width: 20%;
      }
    }
  }
  .cats-filter .box-gallery .box-title{
    background-color: #cc2131;
    color:#fff;
  }
  .cats-filter .box-gallery .box-content{
    border: 2px solid #cc2131;
  }
  .delivery-name{
    color: rgb(102, 102, 102);
    font-weight: 500;
    position: relative;
    bottom: 3px;
  }
  .delivery-phone{
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  .delivery-icon{
    width: 32px;
    height: 28px;
  }
  .location{
    color: rgb(102, 102, 102);
    font-weight: 600;
  }
  .resturant-img img {
    max-height: 355px !important;
    width: 100%;
  }
  .start-icon {
    cursor: pointer;
  }
  .star-full{
    color: #cc2131 !important;
  }
  .star-empty{
    color: #b6b8b8;
  }
  .resturant-evalution,
  .update{
    color: #666;
    font-weight: 400;
  }
  .date{
    font-weight: 500;
    position: relative;
    top: 2px;
    font-size: 18px;
  }
  .last-update{
    position: relative;
    top: 1px;
  }
  .resturant-details{
    .row{
      border-bottom: 1px solid #c4c8ca;
      padding: 6px 0px;
      color: #666;
      font-weight: 500;
      label{
        margin: 0px !important;
      }
      a{
        color: #666 !important;
        cursor: pointer;
      }

    }
  }
}

.slider {
  .list-group {
    height: 390px;
    overflow-y: auto;
    position: relative;
  }
  .list-group-item {
    padding: 8px 15px;
    img {
      width: 80px;
      height: 80px;
      border: 1.5px solid darkgray;
      border-radius: 10px;
      float: left;
    }
  }
  .list-group-item.active {
    background: #444;
    border-color: #ccc;
  }
  .tab-pane {
    position: relative;
  }
  .slider-img {
    width: 100%;
    height: 390px;
  }
  .slider-info {
    position: absolute;
    bottom: 0px;
    padding: 8px 15px;
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    color: white;
  }
  .next-news {
    position: absolute;
    background: darkgrey;
    margin: 0px auto;
    left: 50%;
    bottom: 2px;
    padding: 0px 5px;
    z-index: 999999;
  }
}

footer {
  background-image: url(../img/pattern-footer.png);
  // position:absolute;
  bottom:0;
  width:100%;
}

/* carsoul */

.owl-carousel {
  padding: 0 40px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 0px !important;
  padding: 0px 10px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

.owl-theme .owl-nav {
  position: relative;
}

.owl-dots {
  display: none;
}

.owl-next {
  position: absolute;
  right: -40px;
  top: -185px;
}

.owl-next::before {
  content: url(../img/chevron-right.png)
}

.owl-prev {
  position: absolute;
  left: -40px;
  top: -185px;
}

.owl-prev::before {
  content: url(../img/chevron-left.png)
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

.ads img {
  position: absolute;
  bottom: 53px;
  left: 0;
  right: 0;
  margin: 0px auto;
  text-align: center;
  height: 75px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/logo.png') 50% 50% no-repeat rgb(127, 122, 122);
  opacity: .8;
}

.play-icon {
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  top: 45%;
  color: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border: 1.5px solid #ffff;
}

.video-details {
  position: absolute;
  background-color: rgb(19, 20, 20);
  opacity: 0.749;
  color: white;
  width: 100%;
  bottom: 0px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  .border-bottom {
    border-color: rgb(78, 77, 77) !important;
  }
}

.video-details .date,
.video-details .views {
  font-size: 12px;
}

.card.viedo:hover .video-details.d-none {
  display: block !important;
}

.fp-tooltip {
  color: #000 !important;
}

.box-filter {
  width: 53%;
}

.box-breadcrumb {
  width: 70%;
}

.load-more-btn {
  text-align: center;
  margin: 20px 0 50px 0;
}

.search-box {
  width: 100%;
  height: 34px;
  border: 0;
  padding: 9px;
}